HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Maven
target/
*.log

# IDEs
.vscode/
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db

# Jenkins
*.jenkinsfile.backup
*.jenkins

# Kubernetes sensitive files
*.yaml.backup
service_account.yaml

# Docker
*.tar
*.dockerignore

# Git
.gitignore

# Misc
*.class
*.swp
